.DS_Store
node_modules
/dist

/components/PharmacyList_Search.vue
/components/PharmacyList_Search.vue.map
/components/PharmacyList_Search.vue.d.ts
/components/PharmacyList_Search.vue.d.ts.map

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/AppCopy.vue
src/router/index copy.js
src/main copy.js
src/components/PharmacyList_Search.vue

src/assets/CheckoutNow1.vue
src/assets/MedicineList.vue
src/assets/MedicineList1.vue
src/assets/MedicineList2.vue
src/assets/PharmacyList(old).vue
